body{
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

img{
    border-radius: 20px;
    height:30% ;
    width: 20%;
}
.container{
    margin: auto;


}

button{
    color: black;
    background-color: aliceblue;
    height: 50px;
    width: 12%;
    border-radius: 25px;
    
    font-size: larger;


}